body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

p {
  margin-bottom: .5em;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

.hero {
  background-color: #fff;
  padding: 2em;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.hero p {
  margin-bottom: 1em;
}

.about-us, .vision, .mission {
  background-color: #f9f9f9;
  padding: 2em;
  color: #000000;
  width:100%;
}

.about-us h2 {
  margin-bottom: 0;
}

.about-us p {
  margin-bottom: 1em;
}

.programs {
  background-color: #fff;
  padding: 2em;
}

.programs h2 {
  margin-bottom: 0;
}

.programs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.programs li {
  margin-bottom: 1em;
}

.testimonials {
  background-color: #f9f9f9;
  padding: 2em;
}

.testimonials h2 {
  margin-bottom: 0;
}

.testimonials blockquote {
  border-left: 5px solid #ccc;
  padding: 1em 2em 1em 5em;
}

.contact-us {
  background-color: #fff;
  padding: 2em;
}

.contact-us h2 {
  margin-bottom: 0;
}

.contact-us p {
  margin-bottom: 1em;
}
